In [11]:
import networkx as nx
import pandas as pd

In [12]:
df = pd.read_csv('soc-Epinions1.csv', sep='\t')
df.describe()

          FromNodeId       ToNodeId
count  508837.000000  508837.000000
mean    11943.136688   10540.335960
std     16152.694509   15585.240849
min         0.000000       0.000000
25%      1669.000000    1164.000000
50%      5232.000000    3879.000000
75%     14943.000000   12538.000000
max     75887.000000   75881.000000

In [ ]:
G = nx.Graph()
G.add_nodes_from(df['FromNodeId'], bipartite=0)
G.add_nodes_from(df['ToNodeId'], bipartite=1)

for i in range(len(df)):
    G.add_edge(df['FromNodeId'][i], df['ToNodeId'][i])

In [ ]:
nx.draw(G, with_labels=True)